.about {
    padding-top: 6rem;

    @media (max-width: $tablet) {
        padding-top: 3rem;
    }
}

.about__title {
    max-width: 92.4rem;
    margin-bottom: 2rem;
    color: $color-dark;

    @media (max-width: $tablet) {
        margin-bottom: 0.8rem;
    }
}

.about__text {
    max-width: 61.4rem;
    font-family: $font-sans-regular;
    font-size: 2rem;
    line-height: 1.35;
    color: $color-dark;

    @media (max-width: $tablet) {
        max-width: 44rem;
        font-size: 1.4rem;
        line-height: 1.14;
    }
}