.copyright {
    display: flex;
    justify-content: center;
    font-family: $font-sans-regular;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1;
    color: $color-white;

    @media (max-width: $mobile) {
        font-size: 1.2rem;
    }
}