.criteria {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -14.2rem;
  margin-right: -14.2rem;
  padding-top: 15rem;
  padding-bottom: 1rem;
  background-image: url('../img/page/criteria-bg.svg');
  background-size: 111.8rem 70rem;
  background-position-x: center;
  background-position-y: 8rem;
  background-repeat: no-repeat;

  @media (max-width: $tablet) {
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 0;
    padding-top: 7rem;
    background: none;
  }
}

.criteria__title {
  max-width: 64.7rem;
  margin-top: 12.5rem;
  margin-bottom: 4rem;
  color: $color-dark;
  text-align: center;

  @media (max-width: $tablet) {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 3rem;
    text-align: left;
  }
}

.criteria__list {
  margin-bottom: 4.6rem;

  @media (max-width: $tablet) {
    max-width: 100%;
    margin-bottom: 3rem;
  }
}

.criteria__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;

  @media (max-width: $tablet) {
    margin-bottom: 1.5rem;
  }

  &:last-child {
    @media (max-width: $tablet) {
      margin-bottom: 0;
    }
  }

  &::before {
    display: block;
    content: '';
    width: 27px;
    height: 27px;
    margin-right: 2rem;
    border-radius: 0.38rem;
    background-color: #ffae0f;

    @media (max-width: $tablet) {
      width: 100%;
      max-width: 2rem;
      min-width: 2rem;
      height: 2rem;
      margin-right: 1.2rem;
    }
  }
}

.criteria__item-text {
  max-width: 51rem;
  font-family: $font-sans-regular;
  font-size: 1.8rem;
  line-height: 1.5;
  color: $color-dark;

  @media (max-width: $tablet) {
    max-width: 44rem;
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

.criteria__btn {
  margin-bottom: 4.2rem;
  margin-right: 8rem;

  @media (max-width: $tablet) {
    margin-bottom: 0;
    margin-right: 0;
  }
}
