.faq {
  margin-bottom: 10.5rem;
  padding-top: 11rem;

  @media (max-width: $tablet) {
    margin-bottom: 5rem;
    padding-top: 6rem;
  }
}

.faq__title {
  max-width: 65rem;
  margin-bottom: 5rem;
  line-height: 1.3;
  color: $color-white;

  @media (max-width: $tablet) {
    max-width: 26.2rem;
    margin-bottom: 3rem;
    line-height: 1;
  }
}

.faq__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 11.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: $color-white;

  @media (max-width: $tablet) {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0;
    padding-left: 0;
  }

  &::before {
    position: absolute;
    top: -21.3rem;
    right: 6.9rem;
    display: flex;
    content: '';
    width: 17rem;
    height: 21.3rem;
    background-image: url('../img/page/faq-art.svg');
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: $tablet) {
      display: none;
    }
  }
}

.faq__list {
  width: 47%;

  @media (max-width: $tablet) {
    width: 100%;

    &:last-child .faq__item:last-child {
      border: 0;
    }
  }
}

.faq__item {
  margin-bottom: 2.5rem;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $tablet) {
    padding-bottom: 1.7rem;
    padding-top: 1.5rem;
    margin-bottom: 0;
    border-bottom: solid 1px #dfdfdf;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.faq__item-header {
  display: flex;
  justify-content: space-between;
  transition: ease-in-out 0.4s;
  cursor: pointer;

  @media (max-width: $tablet) {
    padding-right: 1.8rem;
    padding-left: 1.8rem;
  }
}

.faq__item-title {
  max-width: 43rem;
  font-family: $font-serif-bold;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.4;
  color: $color-black;

  @media (max-width: $tablet) {
    max-width: 83%;
    font-size: 1.5rem;
    line-height: 1.33;
  }
  @media (min-width: 1300px) {
    max-width: 92%;
  }
}

.faq__item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  @media (max-width: $tablet) {
    padding-right: 1.8rem;
    padding-left: 1.8rem;
  }
}

.faq__item-text {
  max-width: 45rem;
  padding-top: 2rem;
  font-family: $font-sans-regular;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.38;

  @media (max-width: $tablet) {
    max-width: 100%;
    font-size: 1.3rem;
  }
}

.faq__item-link {
  color: rgb(255, 175, 15);
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 175, 15);

  &:hover {
    color: #6d7278;
    border-bottom-color: #6d7278;
  }
}

.faq__close-btn {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4.4rem;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  transition: ease-in-out 0.2s;

  @media (max-width: $tablet) {
    right: 1.5rem;
    min-width: 3.5rem;
    width: 3.5rem;
    height: 3.5rem;
  }

  .faq__item.active & {
    transform: rotate(45deg);
    background-color: #ffad00;

    path {
      stroke: $color-white;
    }
  }
}

.faq__close-icon {
  width: 2.6rem;
  height: 2.6rem;

  @media (max-width: $tablet) {
    width: 2rem;
    height: 2rem;
  }
}
