.joining {
    margin-bottom: 6rem;
    padding-top: 7.3rem;

    @media (max-width: $tablet) {
        margin-bottom: 0;
        padding-top: 6rem;
    }
}

.joining__title {
    margin-bottom: 7.7rem;
    color: $color-dark;

    @media (max-width: $tablet) {
        margin-bottom: 2.5rem;
    }
}

.joining__list {
    display: flex;
    justify-content: space-between;

    @media (max-width: $tablet) {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.joining__item {
    width: 23%;

    @media (max-width: $tablet) {
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.joining__item-order {
    margin-bottom: 1.9rem;
    border-bottom: solid 1px $color-black;
    font-family: $font-stencil;
    font-weight: normal;
    font-size: 8.6rem;
    line-height: 1;
    color: $color-dark;

    @media (max-width: $tablet) {
        width: 5rem;
        margin-bottom: 0;
        margin-right: 2.2rem;
        padding-bottom: 0;
        border: none;
        font-size: 9rem;
    }
}

.joining__item-text {
    font-family: $font-serif-bold;
    font-weight: normal;
    font-size: 2rem;
    line-height: 1.4;
    color: $color-dark;

    @media (max-width: $tablet) {
        font-size: 1.8rem;
    }
}

.joining__item-link {
    color: #f7b500;
    text-decoration: none;

    &:hover {
        color: #6d7278;
    }
}