.main-nav {
  position: relative;
  z-index: 150;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 14.2rem;
  padding-right: 13.9rem;
  padding-top: 1.9rem;

  @media (max-width: $tablet) {
    position: fixed;
    align-items: flex-start;
    padding: 0;
    background-color: $color-white;
  }
}

.main-nav__logo {
  display: flex;
  z-index: 2;

  @media (max-width: $tablet) {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.8rem;
  }
}

.main-nav__logo-img {
  width: 8.6rem;
  height: 3.3rem;

  @media (max-width: $tablet) {
    width: 5.9rem;
    height: 2.2rem;
  }
}

.main-nav__menu {
  @media (max-width: $tablet) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100vh;

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 2.4rem;
    padding-bottom: 3.4rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: $color-white;
  }
}

.main-nav__item {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  font-family: $font-sans-regular;
  font-size: 1.4rem;
  line-height: 1.29;
  color: $color-black;

  @media (max-width: $tablet) {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.8rem;
    font-size: 1.8rem;
    line-height: 1;
  }
}

.main-nav-active {
  overflow-y: hidden;
}

.main-nav__lead-btn {
  margin-left: 2.9rem;

  @media (max-width: $tablet) {
    margin-left: 1.8rem;
    margin-top: 2.4rem;
  }
}

.main-nav__mobile-menu-btn {
  display: none;

  @media (max-width: $tablet) {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 6.3rem;
    height: 5.6rem;
    cursor: pointer;
    z-index: 2;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.8rem;
  }
}

.main-nav__mobile-menu-btn > span,
.main-nav__mobile-menu-btn > span::before,
.main-nav__mobile-menu-btn > span::after {
  display: block;
  position: absolute;
  width: 2.7rem;
  height: 0.3rem;
  background-color: $color-dark;
  border-radius: 0.8rem;
  transition: ease-in-out 200ms;
}

.main-nav__mobile-menu-btn > span::before {
  content: '';
  top: -0.8rem;
}

.main-nav__mobile-menu-btn > span::after {
  content: '';
  top: 0.8rem;
}

.main-nav__mobile-menu-btn.opened > span {
  transform: rotate(45deg);
}

.main-nav__mobile-menu-btn.opened > span::before {
  top: 0;
  transform: rotate(0);
}

.main-nav__mobile-menu-btn.opened > span::after {
  top: 0;
  transform: rotate(90deg);
}
