.process {
    padding-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $tablet) {
        align-items: flex-start;
        padding-top: 7rem;
    }
}

.process__title {
    margin-bottom: 6rem;
    padding-top: 9rem;
    color: $color-white;
    text-align: center;

    @media (max-width: $tablet) {
        margin-bottom: 3.3rem;
        padding-top: 4rem;
        text-align: left;
    }
}

.process__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.3rem;

    @media (max-width: $tablet) {
        flex-direction: column;
        margin-bottom: 3rem;
    }
}

.process__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31%;

    @media (max-width: $tablet) {
        align-items: flex-start;
        width: 100%;
        margin-bottom: 2.3rem;
    }

    &:first-child,
    &:last-child {
        margin-top: 6rem;

        @media (max-width: $tablet) {
            margin-top: 0;
        }
    }

    &:last-child {
        @media (max-width: $tablet) {
            margin-bottom: 0;
        } 
    }
}

.process__item-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media (max-width: $tablet) {
        flex-direction: row;
        max-width: 34.8rem;
        margin-bottom: 1rem;
    }
}

.process__item-icon {
    width: 7.5rem;
    height: 7.5rem;
    margin-bottom: 2.7rem;

    @media (max-width: $tablet) {
        width: 100%;
        max-width: 3.8rem;
        height: 3.8rem;
        margin-bottom: 0;
        margin-right: 2rem;
    }
}

.process__item-title {
    width: 100%;
    margin-bottom: 1.3rem;
    font-family: $font-serif-bold;
    font-weight: normal;
    font-size: 2.8rem;
    line-height: 1.07;
    color: $color-white;
    text-align: center;

    @media (max-width: $tablet) {
        margin-bottom: 0;
        font-size: 1.8rem;
        line-height: 1;
        text-align: left;
    }
}

.process__item-text {
    width: 100%;
    font-family: $font-sans-regular;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.75;
    color: $color-white;
    text-align: center;

    @media (max-width: $tablet) {
        max-width: 44rem;
        font-size: 1.4rem;
        line-height: 1.3;
        text-align: left;
    }
}

.process__btn {
    @media (max-width: $tablet) {
        margin-left: auto;
        margin-right: auto;
    } 
}