.steps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 9rem;

  @media (max-width: $tablet) {
    padding-top: 5rem;
  }
}

.steps__title {
  max-width: 65rem;
  margin-bottom: 4.7rem;
  padding-top: 10rem;
  color: $color-white;

  @media (max-width: $tablet) {
    max-width: 100%;
    padding-top: 4rem;
    margin-bottom: 3.7rem;
  }
}

.steps__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 6rem;

  @media (max-width: $tablet) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.steps__item {
  width: 31.2%;
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 3.8rem;
  padding-right: 3.8rem;
  background-color: $color-white;
  border-radius: 1.5rem;

  @media (max-width: $tablet) {
    width: 100%;
    margin-bottom: 2.2rem;
    background: none;
    padding: 0;

    &:last-child {
      margin-bottom: 2.7rem;
    }
  }
}

.steps__item-header {
  @media (max-width: $tablet) {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 34.8rem;
    margin-bottom: 1rem;
  }
}

.steps__item-icon {
  width: 4rem;
  height: 4rem;
  margin-bottom: 2.7rem;

  @media (max-width: $tablet) {
    width: 3.8rem;
    height: 3.8rem;
    margin-right: 2rem;
    margin-bottom: 0;
  }
}

.steps__item-title {
  margin-bottom: 1.5rem;
  font-family: $font-serif-bold;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 1;
  color: $color-dark;

  @media (max-width: $tablet) {
    margin-bottom: 0;
    font-size: 1.8rem;
    color: $color-white;
  }
}

.steps__item-text {
  font-family: $font-sans-regular;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.75;
  color: $color-dark;

  @media (max-width: $tablet) {
    max-width: 44rem;
    font-size: 1.39rem;
    line-height: 1.3;
    color: $color-white;
  }
}

.steps__btn {
  align-self: center;
}
