.teaser {
  position: relative;
}

.teaser__announcement {
  position: absolute;
  left: 14.2rem;
  top: 11rem;

  @media (max-width: $tablet) {
    position: relative;
    left: 0;
    top: 0;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    background-color: $color-dark;

    &::before {
      position: absolute;
      right: 2.1rem;
      top: 11.5rem;
      display: inline-block;
      content: '';
      width: 2rem;
      height: 2.2rem;
      background-image: url('../img/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.teaser__title {
  max-width: 63.6rem;
  margin-bottom: 1.6rem;
  font-family: $font-stencil;
  font-size: 7.5rem;
  line-height: 1.08;
  text-transform: uppercase;
  color: $color-dark;

  @media (max-width: $tablet) {
    max-width: 30rem;
    margin-bottom: 1.1rem;
    font-size: 3.8rem;
    color: $color-white;
  }
}

.teaser__label {
  max-width: 42rem;
  margin-bottom: 8rem;
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 1.27;
  color: $color-dark;

  @media (max-width: $tablet) {
    max-width: 18rem;
    margin-bottom: 0;
    font-size: 1.4rem;
    color: $color-white;
  }
}

.teaser__anchor-link {
  display: flex;
  align-items: center;
  font-family: $font-sans-bold, sans-serif;
  font-size: 2.2rem;
  line-height: 1;
  font-weight: normal;
  color: $color-dark;
  text-transform: uppercase;

  @media (max-width: $tablet) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
  }

  &:hover {
    color: $color-dark;
    text-decoration: none;
  }
}

.teaser__anchor-link .ico {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.3rem;
  margin-left: 1rem;
  margin-top: -.5rem;

  @media (max-width: $tablet) {
    display: none;
  }
}

.teaser__image {
  width: 100%;
}
.teaser__image-holder {
  padding-top: 2rem;

  @media (max-width: $mobile-s) {
    padding-top: 0.4rem;
  }
}