.testimonials {
    margin-bottom: 7.4rem;
    padding-top: 5.8rem;

    @media (max-width: $tablet) {
        margin-left: -1.8rem;
        margin-right: -1.8rem;
        margin-bottom: 5.5rem;
        padding-top: 5.6rem;
      }
}

.testimonials__title {
    margin-bottom: 10rem;
    max-width: 65rem;
    color: $color-dark;

    @media (max-width: $tablet) {
        margin-bottom: 3rem;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }
}

.testimonials__slider {
    @media (max-width: $tablet) {
        margin-left: 1.8rem;
        padding-right: 20.8vw;
    }
}

.testimonials__slider-slide {
    display: flex;

    @media (max-width: $tablet) {
        flex-direction: column;
    }
}

.testimonials__person {
    width: 16rem;
    margin-top: 4rem;
    margin-right: 13.2rem;

    @media (max-width: $tablet) {
        position: absolute;
        top: 0;
        left: 0;
        width: 16.5rem;
        margin-bottom: 5rem;
        margin-top: 0;
        margin-right: 0;
    }
}

.testimonials__person-photo-wrapper {
    width: 14.4rem;
    height: 14.4rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    overflow: hidden;

    @media (max-width: $tablet) {
        width: 11.5rem;
        height: 11.5rem;
        margin-bottom: 0.6rem;
    }
}

.testimonials__person-photo {
    width: 14.4rem;
    height: 14.4rem;

    @media (max-width: $tablet) {
        width: 11.5rem;
        height: 11.5rem;
    }
}

.testimonials__person-name {
    margin-bottom: 0.5rem;
    font-family: $font-serif-bold;
    font-weight: normal;
    font-size: 1.6rem;
    color: $color-dark;

    @media (max-width: $tablet) {
        font-size: 1.4rem;
    }
}

.testimonials__person-role {
    font-family: $font-sans-regular;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: normal;
    color: $color-dark;

    @media (max-width: $tablet) {
        font-size: 1.2rem;
    }
}

.testimonials__text-wrapper {
    position: relative;
    padding-top: 6.2rem;
    padding-bottom: 7.2rem;
    padding-left: 9.6rem;

    @media (max-width: $tablet) {
        margin-top: 22.2rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 0;
    }

    &::before,
    &::after {
        position: absolute;
        display: block;
        content: '';
        width: 3.9rem;
        height: 3.2rem;
        background-image: url('../img/page/quote.svg');
        background-size: cover;
        background-repeat: no-repeat;

        @media (max-width: $tablet) {
            background-image: url('../img/page/quote-squere.svg');
            width: 2rem;
            height: 2rem;
        }
    }

    &::before {
        top: 0;
        left: 0;
    }

    &::after {
        bottom: -1.8rem;
        right: 0;
        transform: rotate(180deg);
    }
}

.testimonials__text {
    max-width: 63.6rem;
    font-family: $font-serif-bold;
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 1.36;
    color: $color-dark;

    @media (max-width: $tablet) {
        max-width: 44rem;
        font-size: 1.4rem;
        line-height: 1.14;
    }
}

.testimonials__slider-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $tablet) {
        position: absolute;
        top: 19.5rem;
    }
}

.testimonials__slider-navigation-prev,
.testimonials__slider-navigation-next,
.testimonials__slider-pagination {
    position: static;
    margin-top: 0;
}

.testimonials__slider-navigation-prev,
.testimonials__slider-navigation-next {
    width: 1.1rem;
    height: 2.1rem;
    color: #62646a;

    @media (max-width: $tablet) {
        display: none;
    }

    &::before,
    &::after {
        font-size: 2.1rem;
    }
}

.testimonials__slider-pagination {
    display: flex;
}

.swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    margin-right: 2.5rem;
    background: #62646a;
    opacity: 1;

    @media (max-width: $tablet) {
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 1.2rem;
    }

    &:last-child {
        margin-right: 0;
    }
}

.swiper-pagination-bullet-active {
    background: #ffae0f;
}