@font-face {
  font-family: stencil;
  src: url(../fonts/stencil/StandardCTStencil-Bold.woff) format("woff"),url(../fonts/stencil/StandardCTStencil-Bold.woff2) format("woff2"),url(../fonts/stencil/standardctstencil_bold.svg) format("svg");
  font-weight: 400;
  font-style: normal
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    opacity: 0;
    visibility: visible
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1
  }
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    opacity: 0;
    visibility: visible
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1
  }
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    opacity: 0;
    visibility: visible
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1
  }
}
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    opacity: 0;
    visibility: visible
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}
@media (print),
(prefers-reduced-motion:reduce) {
  .animated {
    -webkit-animation-duration: 1ms!important;
    animation-duration: 1ms!important;
    -webkit-transition-duration: 1ms!important;
    -o-transition-duration: 1ms!important;
    transition-duration: 1ms!important;
    -webkit-animation-iteration-count: 1!important;
    animation-iteration-count: 1!important
  }
}
html {
  font-size: 10px
}
@media (min-width:768px) {
  html {
    font-size: 6px
  }
}
@media (min-width:900px) {
  html {
    font-size: 7px
  }
}
@media (min-width:1100px) {
  html {
    font-size: 8px
  }
}
@media (min-width:1300px) {
  html {
    font-size: 10px
  }
}
@media (min-width:1500px) {
  html {
    font-size: 11px
  }
}
@media (min-width:1740px) {
  html {
    font-size: 13px
  }
}
@media (min-width:2000px) {
  html {
    font-size: 14px
  }
}
@media (min-width:2300px) {
  html {
    font-size: 16px
  }
}
@media (min-width:2500px) {
  html {
    font-size: 17px
  }
}
@media (max-width:767px) {
  html {
    font-size: 14px
  }
}
@media (max-width:600px) {
  html {
    font-size: 12px
  }
}
@media (max-width:440px) {
  html {
    font-size: 10px
  }
}
body {
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  font-family: tele2_textsans_regular,sans-serif;
  color: #1f2229
}
p {
  margin: 0
}
picture {
  display: block;
  font: 0 serif
}
.no-wrap {
  white-space: nowrap
}
@media (max-width:767px) {
  .desktop-wrap {
    display: none
  }
}
@media (min-width:767px) {
  .mobile-wrap {
    display: none
  }
}
.btn {
  display: inline-block;
  min-width: 12.5rem;
  vertical-align: middle;
  padding-top: 1.9rem;
  padding-bottom: 1.9rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  outline: 0;
  border: none;
  border-radius: 3rem;
  font-family: tele2_textsans_bold,sans-serif,sans-serif;
  font-size: 1.6rem;
  line-height: 1.38;
  background-color: transparent;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  letter-spacing: 0;
  margin: 0
}
@media (max-width:767px) {
  .btn {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem
  }
}
.btn--dark {
  background-color: #1f2229;
  color: #fff
}
.btn--dark:hover {
  background: #626469;
  color: #fff
}
.btn--white {
  background-color: #fff;
  color: #1f2229
}
.btn--white:hover {
  background: #626469;
  color: #fff
}
.btn--border-black {
  -webkit-box-shadow: inset 0 0 0 2px #1f2229;
  box-shadow: inset 0 0 0 2px #1f2229;
  color: #1f2229
}
.btn--border-black:hover {
  -webkit-box-shadow: inset 0 0 0 2px #626469;
  box-shadow: inset 0 0 0 2px #626469;
  color: #626469
}
.btn--border-white {
  -webkit-box-shadow: inset 0 0 0 2px #fff;
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff
}
.btn--border-white:hover {
  -webkit-box-shadow: inset 0 0 0 2px #626469;
  box-shadow: inset 0 0 0 2px #626469;
  color: #626469
}
.btn--black-bg {
  background-color: #000;
  color: #fff
}
.btn--black-bg:hover {
  background: #626469;
  color: #fff
}
.btn--icon {
  position: relative;
  padding-left: 6.6rem
}
@media (max-width:767px) {
  .btn--icon {
    padding-left: 3.5rem
  }
}
.btn--icon::before {
  position: absolute;
  left: 2.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  content: '';
  width: 3.2rem;
  height: 3.2rem;
  background-repeat: no-repeat;
  background-size: cover
}
@media (max-width:767px) {
  .btn--icon::before {
    display: none
  }
}
.btn:hover {
  text-decoration: none
}
.btn:active {
  -webkit-transform: scale(.96);
  -ms-transform: scale(.96);
  transform: scale(.96)
}
.popup-modal {
  position: fixed;
  z-index: 1000;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh
}
.popup-modal.popup-modal-hidden {
  pointer-events: none;
  -webkit-transform: translateX(120%);
  -ms-transform: translateX(120%);
  transform: translateX(120%);
  opacity: 0
}
.popup-modal:not(.popup-modal-hidden):before {
  background: rgba(31,34,41,.7);
  content: "";
  position: fixed;
  top: -5rem;
  bottom: -5rem;
  min-height: 100vh;
  left: 0;
  right: 0;
  width: 100vw
}
.popup-modal .modal-box {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #fff;
  min-height: 20vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 4rem;
  overflow-y: auto;
  position: relative;
  border-radius: 1rem
}
.popup-modal .modal-box__header {
  position: relative;
  padding: 1.8rem 5rem 0 1.8rem
}
.popup-modal .modal-box__header h2,
.popup-modal .modal-box__header h3,
.popup-modal .modal-box__header h4 {
  font-family: tele2_serif-bold
}
.popup-modal .modal-box__header .close {
  font-size: 3rem;
  position: absolute;
  right: 1.8rem;
  top: 1.8rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}
.popup-modal .modal-box__header .close:active {
  -webkit-transform: scale(.9);
  -ms-transform: scale(.9);
  transform: scale(.9)
}
.popup-modal .modal-box__body {
  padding: 0 1.8rem;
  -webkit-box-flex: 100%;
  flex: 100% 1 1;
  -ms-flex: 100% 1 auto
}
.popup-modal .modal-box__actions {
  padding: 0 1.8rem 1.8rem;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent
}
.popup-modal .modal-box__actions.centered {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.popup-modal .modal-box.modal-box--dark {
  background: #1f2229
}
.popup-modal .modal-box.modal-box--dark a,
.popup-modal .modal-box.modal-box--dark h2,
.popup-modal .modal-box.modal-box--dark h3,
.popup-modal .modal-box.modal-box--dark h4,
.popup-modal .modal-box.modal-box--dark h5,
.popup-modal .modal-box.modal-box--dark i,
.popup-modal .modal-box.modal-box--dark p {
  color: #fff
}
.popup-modal .modal-box.modal-box--dark .btn {
  border-color: #fff
}
.popup-modal .modal-box.modal-box--dark .btn {
  background-color: transparent;
  border-color: #fff;
  color: #fff
}
.popup-modal .modal-box.modal-box--dark .btn:hover {
  color: #8f9399;
  border-color: #8f9399
}
.popup-modal .modal-box.modal-box--dark .btn.disabled,
.popup-modal .modal-box.modal-box--dark .btn:disabled {
  color: #8f9399;
  background: 0 0;
  border-color: #8f9399;
  cursor: default!important
}
.popup-modal .modal-box.modal-box-active {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
@media all and (min-width:768px) {
  .popup-modal .modal-box {
    min-height: 20vh;
    max-width: 100%;
    width: 54rem
  }
  .popup-modal .modal-box:not(.modal-box--dark) {
    border: none;
    padding: 2rem
  }
  .popup-modal .modal-box__header {
    text-align: left;
    margin-bottom: 0
  }
  .popup-modal .modal-box__header h2,
  .popup-modal .modal-box__header h3 {
    font-size: 2.8rem
  }
  .popup-modal .modal-box__actions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .popup-modal .modal-box__actions .btn {
    margin: 0 2rem 0 0
  }
}
@media all and (min-width:768px) {
  .popup-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    overflow-y: auto
  }
}
@media all and (max-width:767px) {
  .popup-modal {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    will-change: transform
  }
  .popup-modal .modal-box {
    height: auto;
    margin: 1.8rem;
    padding-bottom: 0
  }
}
.js-float-field {
  position: relative
}
.js-float-field .js-float-label {
  position: absolute;
  top: 0;
  left: 0
}
.js-float-field .js-float-label.float {
  top: -2.8rem
}
@media (max-width:767px) {
  .js-float-field .js-float-label.float {
    top: -1.8rem
  }
}
.tabs-nav {
  cursor: pointer
}
.tabs-nav:hover {
  color: #6d7278
}
.tabs-nav.tabs-nav--active {
  color: #ffae0f
}
.tabs-nav.tabs-nav--active:hover {
  color: #ffae0f
}
.tabs-body {
  opacity: 0
}
.tabs-body--visible {
  opacity: 1
}
.page-main {
  overflow: hidden
}
.page-main__block-wrapper {
  position: relative;
  padding-right: 14.2rem;
  padding-left: 14.2rem
}
@media (max-width:767px) {
  .page-main__block-wrapper {
    padding-left: 1.8rem;
    padding-right: 1.8rem
  }
}
@media (min-width:768px) and (max-width:1199px) {
  .page-main__block-wrapper {
    padding-right: 10rem;
    padding-left: 10rem
  }
}
.page-main__block-wrapper--black-bg {
  background-color: #000
}
.page-main__block-wrapper--2 {
  padding-bottom: 8rem
}
@media (max-width:767px) {
  .page-main__block-wrapper--2 {
    padding-bottom: 5rem
  }
}
.page-main__block-wrapper--2::before {
  position: absolute;
  top: -11.6rem;
  right: 37rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  width: 20.2rem;
  height: 11.8rem;
  background-image: url(../img/page/block-wrapper-art.svg);
  background-repeat: no-repeat;
  background-size: cover
}
@media (max-width:767px) {
  .page-main__block-wrapper--2::before {
    display: none
  }
}
.page-main__block-wrapper--4 {
  padding-bottom: 5rem
}
@media (max-width:767px) {
  .page-main__block-wrapper--4 {
    padding-bottom: 3rem
  }
}
.page-main__title {
  font-family: tele2_serif-bold,serif;
  font-weight: 400
}
.page-main__title--h2 {
  font-size: 4.5rem;
  line-height: 1.07
}
@media (max-width:767px) {
  .page-main__title--h2 {
    max-width: 100%;
    font-size: 2.4rem
  }
}
.main-nav {
  position: relative;
  z-index: 150;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding-left: 14.2rem;
  padding-right: 13.9rem;
  padding-top: 1.9rem
}
@media (max-width:767px) {
  .main-nav {
    position: fixed;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0;
    background-color: #fff
  }
}
.main-nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2
}
@media (max-width:767px) {
  .main-nav__logo {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.8rem
  }
}
.main-nav__logo-img {
  width: 8.6rem;
  height: 3.3rem
}
@media (max-width:767px) {
  .main-nav__logo-img {
    width: 5.9rem;
    height: 2.2rem
  }
}
@media (max-width:767px) {
  .main-nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100vh
  }
  .main-nav__menu--visible {
    opacity: 1;
    visibility: visible
  }
}
.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
@media (max-width:767px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 2.4rem;
    padding-bottom: 3.4rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #fff
  }
}
.main-nav__item {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  font-family: tele2_textsans_regular,sans-serif;
  font-size: 1.4rem;
  line-height: 1.29;
  color: #000
}
@media (max-width:767px) {
  .main-nav__item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.8rem;
    font-size: 1.8rem;
    line-height: 1
  }
}
.main-nav-active {
  overflow-y: hidden
}
.main-nav__lead-btn {
  margin-left: 2.9rem
}
@media (max-width:767px) {
  .main-nav__lead-btn {
    margin-left: 1.8rem;
    margin-top: 2.4rem
  }
}
.main-nav__mobile-menu-btn {
  display: none
}
@media (max-width:767px) {
  .main-nav__mobile-menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    width: 6.3rem;
    height: 5.6rem;
    cursor: pointer;
    z-index: 2;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.8rem
  }
}
.main-nav__mobile-menu-btn > span,
.main-nav__mobile-menu-btn > span::after,
.main-nav__mobile-menu-btn > span::before {
  display: block;
  position: absolute;
  width: 2.7rem;
  height: .3rem;
  background-color: #1f2229;
  border-radius: .8rem;
  -webkit-transition: ease-in-out .2s;
  -o-transition: ease-in-out .2s;
  transition: ease-in-out .2s
}
.main-nav__mobile-menu-btn > span::before {
  content: '';
  top: -.8rem
}
.main-nav__mobile-menu-btn > span::after {
  content: '';
  top: .8rem
}
.main-nav__mobile-menu-btn.opened > span {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}
.main-nav__mobile-menu-btn.opened > span::before {
  top: 0;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0)
}
.main-nav__mobile-menu-btn.opened > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}
.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding-left: 14.2rem;
  padding-right: 14.2rem;
  padding-top: .9rem;
  padding-bottom: .9rem;
  background-color: #efefef;
  opacity: 0;
  visibility: hidden
}
.sticky-nav--visible {
  opacity: 1;
  visibility: visible
}
@media (max-width:767px) {
  .sticky-nav {
    display: none
  }
}
.sticky-nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.sticky-nav__logo-img {
  width: 8.6rem;
  height: 3.3rem
}
.sticky-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.sticky-nav__item {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-family: tele2_textsans_regular,sans-serif;
  font-size: 1.4rem;
  line-height: 1.29;
  color: #000
}
.sticky-nav__item.js-sticky-nav-item--current {
  color: #ffae0f
}
.sticky-nav__pointer {
  position: absolute
}
.dialog {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%
}
.features .dialog,
.process .dialog {
  height: 34.7rem
}
@media (max-width:767px) {
  .features .dialog,
  .process .dialog {
    height: 15.3rem
  }
}
.steps .dialog {
  height: 63.8rem
}
@media (max-width:767px) {
  .steps .dialog {
    height: 34rem
  }
}
.result .dialog {
  height: 77.6rem
}
@media (max-width:767px) {
  .result .dialog {
    height: 42.3rem;
    margin-bottom: 5rem
  }
}
.directions .dialog {
  height: 34.7rem
}
@media (max-width:767px) {
  .directions .dialog {
    height: 19.8rem
  }
}
.dialog__person {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}
.features .dialog__person--1,
.process .dialog__person--1 {
  top: 0;
  left: 4.8rem
}
@media (max-width:767px) {
  .features .dialog__person--1,
  .process .dialog__person--1 {
    left: 0
  }
}
.steps .dialog__person--1 {
  top: 0;
  left: -16.2rem
}
@media (max-width:767px) {
  .steps .dialog__person--1 {
    left: -10.6rem
  }
}
.result .dialog__person--1 {
  top: 4rem;
  left: -18.2rem
}
@media (max-width:767px) {
  .result .dialog__person--1 {
    left: -10.8rem
  }
}
.directions .dialog__person--1 {
  top: -1rem;
  left: 4.8rem
}
@media (max-width:767px) {
  .directions .dialog__person--1 {
    left: -3.1rem
  }
}
.features .dialog__person--2,
.process .dialog__person--2 {
  top: 7.8rem;
  right: 4.8rem
}
@media (max-width:767px) {
  .features .dialog__person--2,
  .process .dialog__person--2 {
    top: 6.6rem;
    right: 0
  }
}
.steps .dialog__person--2 {
  top: 0;
  right: -7.8rem
}
@media (max-width:767px) {
  .steps .dialog__person--2 {
    top: 7.8rem;
    right: -6.8rem
  }
}
.result .dialog__person--2 {
  top: 1rem;
  right: 6.9rem
}
@media (max-width:767px) {
  .result .dialog__person--2 {
    top: 11.3rem;
    right: -3.8rem
  }
}
.directions .dialog__person--2 {
  top: 6.8rem;
  right: 4.8rem
}
@media (max-width:767px) {
  .directions .dialog__person--2 {
    top: 6rem;
    right: -3.1rem
  }
}
.dialog__img--features-1,
.dialog__img--features-2,
.dialog__img--process-1,
.dialog__img--process-2 {
  width: 25.2rem;
  height: 26.2rem
}
@media (max-width:767px) {
  .dialog__img--features-1,
  .dialog__img--features-2,
  .dialog__img--process-1,
  .dialog__img--process-2 {
    width: 8.2rem;
    height: 8.7rem
  }
}
.dialog__img--steps-1 {
  width: 50.9rem;
  height: 51.9rem
}
@media (max-width:767px) {
  .dialog__img--steps-1 {
    width: 22.6rem;
    height: 23rem
  }
}
.dialog__img--steps-2 {
  width: 50.9rem;
  height: 63.8rem
}
@media (max-width:767px) {
  .dialog__img--steps-2 {
    width: 21.1rem;
    height: 26.2rem
  }
}
.dialog__img--result-1 {
  width: 61rem;
  height: 51.8rem
}
@media (max-width:767px) {
  .dialog__img--result-1 {
    width: 26.1rem;
    height: 22.2rem
  }
}
.dialog__img--result-2 {
  width: 37.7rem;
  height: 77.6rem
}
@media (max-width:767px) {
  .dialog__img--result-2 {
    width: 17rem;
    height: 34.9rem
  }
}
.dialog__img--directions-1,
.dialog__img--directions-2 {
  width: 25.2rem;
  height: 26.2rem
}
@media (max-width:767px) {
  .dialog__img--directions-1,
  .dialog__img--directions-2 {
    width: 12.3rem;
    height: 13rem
  }
}
.dialog__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 28.5rem;
  height: 8.5rem;
  border-radius: 2rem;
  background-color: #efefef;
  font-family: tele2_textsans_regular,sans-serif;
  font-size: 2.4rem;
  line-height: 1.17;
  color: #000
}
.page-main__block-wrapper--black-bg .dialog__text {
  background-color: #cacaca
}
@media (max-width:767px) {
  .dialog__text {
    width: 13.6rem;
    height: 4.3rem;
    font-size: 1.4rem;
    line-height: 1.07;
    border-radius: 1rem
  }
}
.dialog__text--features-1 {
  margin-top: 1.9rem;
  padding-left: 6.5rem;
  padding-right: 6.5rem
}
@media (max-width:767px) {
  .dialog__text--features-1 {
    width: 12.6rem;
    height: 3.9rem;
    margin-top: -1.8rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem
  }
}
.dialog__text--features-2 {
  margin-top: 11.3rem;
  padding-left: 5.8rem;
  padding-right: 5.8rem
}
@media (max-width:767px) {
  .dialog__text--features-2 {
    width: 12.6rem;
    height: 3.9rem;
    margin-top: -1.6rem;
    margin-right: -.9rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem
  }
}
.dialog__text--steps-1 {
  margin-top: 4.2rem;
  margin-left: -6rem;
  padding-left: 5.4rem;
  padding-right: 5.4rem
}
@media (max-width:767px) {
  .dialog__text--steps-1 {
    margin-top: .5rem;
    margin-left: -3.7rem;
    padding-left: 1.9rem;
    padding-right: 1.9rem
  }
}
.dialog__text--steps-2 {
  margin-top: 17.4rem;
  margin-right: -9.6rem;
  padding-left: 7.2rem;
  padding-right: 7.2rem
}
@media (max-width:767px) {
  .dialog__text--steps-2 {
    margin-top: -.6rem;
    margin-right: -8.9rem;
    padding-left: 2.7rem;
    padding-right: 2.7rem
  }
}
.dialog__text--process-1 {
  margin-top: 1.9rem;
  padding-left: 7.4rem;
  padding-right: 7.5rem
}
@media (max-width:767px) {
  .dialog__text--process-1 {
    margin-top: -1.1rem;
    margin-left: -.5rem;
    padding-left: 2.9rem;
    padding-right: 2.8rem
  }
}
.dialog__text--process-2 {
  margin-top: 11.3rem;
  padding-left: 5.6rem;
  padding-right: 5.7rem
}
@media (max-width:767px) {
  .dialog__text--process-2 {
    margin-top: 0;
    margin-right: -.9rem;
    padding-left: 1.3rem;
    padding-right: 1.4rem
  }
}
.dialog__text--result-1 {
  margin-top: 2.4rem;
  margin-left: -16rem;
  padding-left: 6.3rem;
  padding-right: 6.3rem
}
@media (max-width:767px) {
  .dialog__text--result-1 {
    margin-top: -1.1rem;
    margin-left: -8rem;
    padding-left: 2.4rem;
    padding-right: 1.9rem
  }
}
.dialog__text--result-2 {
  margin-top: 25.8rem;
  margin-right: -6rem;
  padding-right: 3.4rem;
  padding-left: 3.4rem
}
@media (max-width:767px) {
  .dialog__text--result-2 {
    margin-top: .2rem;
    margin-right: -7.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    top: -2.3rem
  }
}
.dialog__text--directions-1 {
  margin-top: 1rem;
  margin-left: 3rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem
}
@media (max-width:767px) {
  .dialog__text--directions-1 {
    width: 17.8rem;
    height: 4.8rem;
    margin-top: 0;
    margin-left: -1rem;
    padding-left: 1.9rem;
    padding-right: 1.9rem
  }
}
.dialog__text--directions-2 {
  width: 33.7rem;
  margin-top: 10rem;
  margin-right: 1rem;
  padding-left: 2.6rem;
  padding-right: 2.7rem
}
@media (max-width:767px) {
  .dialog__text--directions-2 {
    width: 17.8rem;
    height: 4.8rem;
    margin-top: 7.2rem;
    margin-right: .4rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem
  }
}
.dialog__text::after {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  width: 2.8rem;
  height: 2.8rem;
  background-image: url(../img/page/dialog-pointer-light.svg);
  background-repeat: no-repeat;
  background-size: cover
}
.page-main__block-wrapper--black-bg .dialog__text::after {
  background-image: url(../img/page/dialog-pointer-dark.svg)
}
@media (max-width:767px) {
  .dialog__text::after {
    width: 1.5rem;
    height: 1.5rem
  }
}
.dialog__text--bottom-left::after {
  bottom: -.4rem;
  left: -.6rem
}
@media (max-width:767px) {
  .dialog__text--bottom-left::after {
    bottom: -.2rem;
    left: -.3rem
  }
}
.dialog__text--bottom-right::after {
  bottom: -.4rem;
  right: -.6rem;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1)
}
@media (max-width:767px) {
  .dialog__text--bottom-right::after {
    bottom: -.2rem;
    right: -.3rem
  }
}
@media (max-width:767px) {
  .dialog__text--bottom-right.dialog__text--directions-2::after {
    -webkit-transform: scale(-1,-1);
    -ms-transform: scale(-1,-1);
    transform: scale(-1,-1);
    bottom: auto;
    top: -.2rem;
    right: -.3rem
  }
}
.dialog__text--top-right::after {
  top: -.4rem;
  right: -.6rem;
  -webkit-transform: scale(-1,-1);
  -ms-transform: scale(-1,-1);
  transform: scale(-1,-1)
}
@media (max-width:767px) {
  .dialog__text--top-right::after {
    top: -.2rem;
    right: -.3rem
  }
}
@media (max-width:767px) {
  .dialog__text--top-right.dialog__text--result-2::after {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    top: auto;
    bottom: -.2rem;
    right: -.3rem
  }
}
.dialog__text--top-left::after {
  top: -.4rem;
  left: -.6rem;
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1)
}
@media (max-width:767px) {
  .dialog__text--top-left::after {
    top: -.2rem;
    left: -.3rem
  }
}
.teaser {
  position: relative
}
.teaser__announcement {
  position: absolute;
  left: 14.2rem;
  top: 11rem
}
@media (max-width:767px) {
  .teaser__announcement {
    position: relative;
    left: 0;
    top: 0;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    background-color: #1f2229
  }
  .teaser__announcement::before {
    position: absolute;
    right: 2.1rem;
    top: 11.5rem;
    display: inline-block;
    content: '';
    width: 2rem;
    height: 2.2rem;
    background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover
  }
}
.teaser__title {
  max-width: 63.6rem;
  margin-bottom: 1.6rem;
  font-family: stencil;
  font-size: 7.5rem;
  line-height: 1.08;
  text-transform: uppercase;
  color: #1f2229
}
@media (max-width:767px) {
  .teaser__title {
    max-width: 30rem;
    margin-bottom: 1.1rem;
    font-size: 3.8rem;
    color: #fff
  }
}
.teaser__label {
  max-width: 42rem;
  margin-bottom: 8rem;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.27;
  color: #1f2229
}
@media (max-width:767px) {
  .teaser__label {
    max-width: 18rem;
    margin-bottom: 0;
    font-size: 1.4rem;
    color: #fff
  }
}
.teaser__anchor-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: tele2_textsans_bold,sans-serif,sans-serif;
  font-size: 2.2rem;
  line-height: 1;
  font-weight: 400;
  color: #1f2229;
  text-transform: uppercase
}
@media (max-width:767px) {
  .teaser__anchor-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0
  }
}
.teaser__anchor-link:hover {
  color: #1f2229;
  text-decoration: none
}
.teaser__anchor-link .ico {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.3rem;
  margin-left: 1rem;
  margin-top: -.5rem
}
@media (max-width:767px) {
  .teaser__anchor-link .ico {
    display: none
  }
}
.teaser__image {
  width: 100%
}
.teaser__image-holder {
  padding-top: 2rem
}
@media (max-width:359px) {
  .teaser__image-holder {
    padding-top: .4rem
  }
}
.about {
  padding-top: 6rem
}
@media (max-width:767px) {
  .about {
    padding-top: 3rem
  }
}
.about__title {
  max-width: 92.4rem;
  margin-bottom: 2rem;
  color: #1f2229
}
@media (max-width:767px) {
  .about__title {
    margin-bottom: .8rem
  }
}
.about__text {
  max-width: 61.4rem;
  font-family: tele2_textsans_regular,sans-serif;
  font-size: 2rem;
  line-height: 1.35;
  color: #1f2229
}
@media (max-width:767px) {
  .about__text {
    max-width: 44rem;
    font-size: 1.4rem;
    line-height: 1.14
  }
}
.features {
  margin-bottom: 16.6rem;
  padding-top: 8.2rem
}
@media (max-width:767px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 4.8rem;
    padding-top: 5.3rem
  }
}
.features__title {
  margin-bottom: 7rem;
  padding-top: 12rem;
  color: #1f2229
}
@media (max-width:767px) {
  .features__title {
    margin-bottom: 2.3rem;
    padding-top: 3.5rem
  }
}
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2.5rem
}
@media (max-width:767px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0
  }
}
.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 23.2%
}
@media (max-width:767px) {
  .features__item {
    width: 100%;
    margin-bottom: 2.2rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  .features__item:last-child {
    margin-bottom: 0
  }
}
.features__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem
}
@media (max-width:767px) {
  .features__item-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
  }
}
.features__item-icon {
  width: 6rem;
  height: 6rem;
  margin-bottom: 3.3rem
}
@media (max-width:767px) {
  .features__item-icon {
    width: 3.8rem;
    height: 3.8rem;
    margin-bottom: 0;
    margin-right: 2rem
  }
}
.features__item-title {
  margin-bottom: 0;
  font-family: tele2_serif-bold,serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.4;
  color: #1f2229;
  text-align: center
}
@media (max-width:767px) {
  .features__item-title {
    font-size: 1.8rem;
    text-align: left
  }
}
.features__item-text {
  max-width: 25.2rem;
  font-family: tele2_textsans_regular,sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #1f2229;
  text-align: center
}
@media (max-width:767px) {
  .features__item-text {
    max-width: 100%;
    font-size: 1.4rem;
    line-height: 1.3;
    text-align: left
  }
}
@media (max-width:767px) {
  .features__btn {
    max-width: 15rem;
    margin-top: 3rem
  }
}
@media (max-width:767px) {
  .features__btn {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto
  }
}
.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 9rem
}
@media (max-width:767px) {
  .steps {
    padding-top: 5rem
  }
}
.steps__title {
  max-width: 65rem;
  margin-bottom: 4.7rem;
  padding-top: 10rem;
  color: #fff
}
@media (max-width:767px) {
  .steps__title {
    max-width: 100%;
    padding-top: 4rem;
    margin-bottom: 3.7rem
  }
}
.steps__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 6rem
}
@media (max-width:767px) {
  .steps__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0
  }
}
.steps__item {
  width: 31.2%;
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 3.8rem;
  padding-right: 3.8rem;
  background-color: #fff;
  border-radius: 1.5rem
}
@media (max-width:767px) {
  .steps__item {
    width: 100%;
    margin-bottom: 2.2rem;
    background: 0 0;
    padding: 0
  }
  .steps__item:last-child {
    margin-bottom: 2.7rem
  }
}
@media (max-width:767px) {
  .steps__item-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 34.8rem;
    margin-bottom: 1rem
  }
}
.steps__item-icon {
  width: 4rem;
  height: 4rem;
  margin-bottom: 2.7rem
}
@media (max-width:767px) {
  .steps__item-icon {
    width: 3.8rem;
    height: 3.8rem;
    margin-right: 2rem;
    margin-bottom: 0
  }
}
.steps__item-title {
  margin-bottom: 1.5rem;
  font-family: tele2_serif-bold,serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1;
  color: #1f2229
}
@media (max-width:767px) {
  .steps__item-title {
    margin-bottom: 0;
    font-size: 1.8rem;
    color: #fff
  }
}
.steps__item-text {
  font-family: tele2_textsans_regular,sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #1f2229
}
@media (max-width:767px) {
  .steps__item-text {
    max-width: 44rem;
    font-size: 1.39rem;
    line-height: 1.3;
    color: #fff
  }
}
.steps__btn {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center
}
.process {
  padding-top: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
@media (max-width:767px) {
  .process {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 7rem
  }
}
.process__title {
  margin-bottom: 6rem;
  padding-top: 9rem;
  color: #fff;
  text-align: center
}
@media (max-width:767px) {
  .process__title {
    margin-bottom: 3.3rem;
    padding-top: 4rem;
    text-align: left
  }
}
.process__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: .3rem
}
@media (max-width:767px) {
  .process__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 3rem
  }
}
.process__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 31%
}
@media (max-width:767px) {
  .process__item {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 2.3rem
  }
}
.process__item:first-child,
.process__item:last-child {
  margin-top: 6rem
}
@media (max-width:767px) {
  .process__item:first-child,
  .process__item:last-child {
    margin-top: 0
  }
}
@media (max-width:767px) {
  .process__item:last-child {
    margin-bottom: 0
  }
}
.process__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%
}
@media (max-width:767px) {
  .process__item-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 34.8rem;
    margin-bottom: 1rem
  }
}
.process__item-icon {
  width: 7.5rem;
  height: 7.5rem;
  margin-bottom: 2.7rem
}
@media (max-width:767px) {
  .process__item-icon {
    width: 100%;
    max-width: 3.8rem;
    height: 3.8rem;
    margin-bottom: 0;
    margin-right: 2rem
  }
}
.process__item-title {
  width: 100%;
  margin-bottom: 1.3rem;
  font-family: tele2_serif-bold,serif;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 1.07;
  color: #fff;
  text-align: center
}
@media (max-width:767px) {
  .process__item-title {
    margin-bottom: 0;
    font-size: 1.8rem;
    line-height: 1;
    text-align: left
  }
}
.process__item-text {
  width: 100%;
  font-family: tele2_textsans_regular,sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #fff;
  text-align: center
}
@media (max-width:767px) {
  .process__item-text {
    max-width: 44rem;
    font-size: 1.4rem;
    line-height: 1.3;
    text-align: left
  }
}
@media (max-width:767px) {
  .process__btn {
    margin-left: auto;
    margin-right: auto
  }
}
.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 10rem
}
@media (max-width:767px) {
  .result {
    padding-top: 3rem
  }
}
.result__title {
  max-width: 65rem;
  margin-bottom: 4rem;
  margin-top: -14.2rem;
  color: #fff
}
@media (max-width:767px) {
  .result__title {
    max-width: 75vw;
    margin-bottom: 3.2rem
  }
}
.result__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 2.5rem
}
@media (max-width:767px) {
  .result__item {
    margin-bottom: 2rem
  }
}
.result__item:last-child {
  margin-bottom: 3.4rem
}
@media (max-width:767px) {
  .result__item:last-child {
    margin-bottom: 2.4rem
  }
}
.result__item-icon {
  width: 7.5rem;
  height: 7.5rem;
  margin-right: 5rem
}
@media (max-width:767px) {
  .result__item-icon {
    width: 100%;
    max-width: 4.5rem;
    height: 4.5rem;
    margin-right: 1.1em
  }
}
.result__item-text-wraper {
  max-width: 40rem
}
.result__item-title {
  margin-bottom: 1.4rem;
  font-family: tele2_serif-bold,serif;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 1.07;
  color: #fff
}
@media (max-width:767px) {
  .result__item-title {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    line-height: 1;
    max-width: 93%
  }
}
.result__item-text {
  max-width: 37.4rem;
  font-family: tele2_textsans_regular,sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #fff
}
@media (max-width:767px) {
  .result__item-text {
    max-width: 56vw;
    font-size: 1.4rem;
    line-height: 1.3
  }
}
.result__btn {
  margin-left: 9.7rem
}
@media (max-width:767px) {
  .result__btn {
    margin-left: auto;
    margin-right: auto
  }
}
.criteria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -14.2rem;
  margin-right: -14.2rem;
  padding-top: 15rem;
  padding-bottom: 1rem;
  background-image: url(../img/page/criteria-bg.svg);
  background-size: 111.8rem 70rem;
  background-position-x: center;
  background-position-y: 8rem;
  background-repeat: no-repeat
}
@media (max-width:767px) {
  .criteria {
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 0;
    padding-top: 7rem;
    background: 0 0
  }
}
.criteria__title {
  max-width: 64.7rem;
  margin-top: 12.5rem;
  margin-bottom: 4rem;
  color: #1f2229;
  text-align: center
}
@media (max-width:767px) {
  .criteria__title {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 3rem;
    text-align: left
  }
}
.criteria__list {
  margin-bottom: 4.6rem
}
@media (max-width:767px) {
  .criteria__list {
    max-width: 100%;
    margin-bottom: 3rem
  }
}
.criteria__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 2rem
}
@media (max-width:767px) {
  .criteria__item {
    margin-bottom: 1.5rem
  }
}
@media (max-width:767px) {
  .criteria__item:last-child {
    margin-bottom: 0
  }
}
.criteria__item::before {
  display: block;
  content: '';
  width: 27px;
  height: 27px;
  margin-right: 2rem;
  border-radius: .38rem;
  background-color: #ffae0f
}
@media (max-width:767px) {
  .criteria__item::before {
    width: 100%;
    max-width: 2rem;
    min-width: 2rem;
    height: 2rem;
    margin-right: 1.2rem
  }
}
.criteria__item-text {
  max-width: 51rem;
  font-family: tele2_textsans_regular,sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #1f2229
}
@media (max-width:767px) {
  .criteria__item-text {
    max-width: 44rem;
    font-size: 1.5rem;
    line-height: 1.2
  }
}
.criteria__btn {
  margin-bottom: 4.2rem;
  margin-right: 8rem
}
@media (max-width:767px) {
  .criteria__btn {
    margin-bottom: 0;
    margin-right: 0
  }
}
.directions {
  margin-bottom: 7.5rem;
  padding-top: 10rem
}
@media (max-width:767px) {
  .directions {
    margin-bottom: 0;
    padding-top: 7.5rem
  }
}
.directions__title {
  margin-bottom: 4.9rem;
  padding-top: 11rem;
  color: #1f2229
}
@media (max-width:767px) {
  .directions__title {
    padding-top: 5rem;
    margin-bottom: 1.3rem
  }
}
.directions__wrapper::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  width: 3.4rem;
  height: 3.4rem;
  background-color: #ffae0f;
  margin-bottom: 1rem;
  border-radius: .5rem
}
@media (max-width:767px) {
  .directions__wrapper::before {
    display: none
  }
}
.directions__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.directions__list {
  position: relative;
  width: 54rem;
  margin-right: 13.2rem
}
@media (max-width:767px) {
  .directions__list {
    width: 100%;
    margin-right: 0
  }
}
.directions__item {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out
}
@media (max-width:767px) {
  .directions__item {
    position: relative;
    opacity: 1
  }
}
@media (max-width:767px) {
  .directions__item-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: solid 1px #d7d7d7
  }
}
.directions__item-title {
  margin-bottom: .5rem;
  font-family: tele2_serif-bold,serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2
}
@media (max-width:767px) {
  .directions__item-title {
    font-size: 1.8rem;
    line-height: 1;
    -webkit-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    transition: ease-in-out .2s
  }
  .directions__item.active .directions__item-title {
    color: #ffae0f
  }
}
.directions__item-icon-opener {
  display: none
}
@media (max-width:767px) {
  .directions__item-icon-opener {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1rem;
    height: 1rem;
    -webkit-transition: -webkit-transform ease-in-out .2s;
    transition: -webkit-transform ease-in-out .2s;
    -o-transition: transform ease-in-out .2s;
    transition: transform ease-in-out .2s;
    transition: transform ease-in-out .2s,-webkit-transform ease-in-out .2s
  }
  .directions__item.active .directions__item-icon-opener {
    fill: #ffae0f;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
  }
}
@media (max-width:767px) {
  .directions__item-body {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .2s ease-out;
    -o-transition: max-height .2s ease-out;
    transition: max-height .2s ease-out
  }
}
.directions__item-text {
  font-family: tele2_textsans_regular,sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #1f2229
}
@media (max-width:767px) {
  .directions__item-text {
    max-width: 44rem;
    margin-top: 2rem;
    font-size: 1.4rem;
    line-height: 1.3
  }
}
.directions__nav-list {
  position: static;
  margin-top: -1rem
}
@media (max-width:767px) {
  .directions__nav-list {
    display: none
  }
}
.directions__nav-item {
  margin-bottom: .5rem;
  font-family: tele2_serif-bold,serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2;
  color: #1f2229;
  text-align: left
}
.joining {
  margin-bottom: 6rem;
  padding-top: 7.3rem
}
@media (max-width:767px) {
  .joining {
    margin-bottom: 0;
    padding-top: 6rem
  }
}
.joining__title {
  margin-bottom: 7.7rem;
  color: #1f2229
}
@media (max-width:767px) {
  .joining__title {
    margin-bottom: 2.5rem
  }
}
.joining__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
@media (max-width:767px) {
  .joining__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
}
.joining__item {
  width: 23%
}
@media (max-width:767px) {
  .joining__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
  }
}
.joining__item-order {
  margin-bottom: 1.9rem;
  border-bottom: solid 1px #000;
  font-family: stencil;
  font-weight: 400;
  font-size: 8.6rem;
  line-height: 1;
  color: #1f2229
}
@media (max-width:767px) {
  .joining__item-order {
    width: 5rem;
    margin-bottom: 0;
    margin-right: 2.2rem;
    padding-bottom: 0;
    border: none;
    font-size: 9rem
  }
}
.joining__item-text {
  font-family: tele2_serif-bold,serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4;
  color: #1f2229
}
@media (max-width:767px) {
  .joining__item-text {
    font-size: 1.8rem
  }
}
.joining__item-link {
  color: #f7b500;
  text-decoration: none
}
.joining__item-link:hover {
  color: #6d7278
}
.testimonials {
  margin-bottom: 7.4rem;
  padding-top: 5.8rem
}
@media (max-width:767px) {
  .testimonials {
    margin-left: -1.8rem;
    margin-right: -1.8rem;
    margin-bottom: 5.5rem;
    padding-top: 5.6rem
  }
}
.testimonials__title {
  margin-bottom: 10rem;
  max-width: 65rem;
  color: #1f2229
}
@media (max-width:767px) {
  .testimonials__title {
    margin-bottom: 3rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem
  }
}
@media (max-width:767px) {
  .testimonials__slider {
    margin-left: 1.8rem;
    padding-right: 20.8vw
  }
}
.testimonials__slider-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
@media (max-width:767px) {
  .testimonials__slider-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}
.testimonials__person {
  width: 16rem;
  margin-top: 4rem;
  margin-right: 13.2rem
}
@media (max-width:767px) {
  .testimonials__person {
    position: absolute;
    top: 0;
    left: 0;
    width: 16.5rem;
    margin-bottom: 5rem;
    margin-top: 0;
    margin-right: 0
  }
}
.testimonials__person-photo-wrapper {
  width: 14.4rem;
  height: 14.4rem;
  margin-bottom: 2rem;
  border-radius: 50%;
  overflow: hidden
}
@media (max-width:767px) {
  .testimonials__person-photo-wrapper {
    width: 11.5rem;
    height: 11.5rem;
    margin-bottom: .6rem
  }
}
.testimonials__person-photo {
  width: 14.4rem;
  height: 14.4rem
}
@media (max-width:767px) {
  .testimonials__person-photo {
    width: 11.5rem;
    height: 11.5rem
  }
}
.testimonials__person-name {
  margin-bottom: .5rem;
  font-family: tele2_serif-bold,serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #1f2229
}
@media (max-width:767px) {
  .testimonials__person-name {
    font-size: 1.4rem
  }
}
.testimonials__person-role {
  font-family: tele2_textsans_regular,sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: normal;
  color: #1f2229
}
@media (max-width:767px) {
  .testimonials__person-role {
    font-size: 1.2rem
  }
}
.testimonials__text-wrapper {
  position: relative;
  padding-top: 6.2rem;
  padding-bottom: 7.2rem;
  padding-left: 9.6rem
}
@media (max-width:767px) {
  .testimonials__text-wrapper {
    margin-top: 22.2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 0
  }
}
.testimonials__text-wrapper::after,
.testimonials__text-wrapper::before {
  position: absolute;
  display: block;
  content: '';
  width: 3.9rem;
  height: 3.2rem;
  background-image: url(../img/page/quote.svg);
  background-size: cover;
  background-repeat: no-repeat
}
@media (max-width:767px) {
  .testimonials__text-wrapper::after,
  .testimonials__text-wrapper::before {
    background-image: url(../img/page/quote-squere.svg);
    width: 2rem;
    height: 2rem
  }
}
.testimonials__text-wrapper::before {
  top: 0;
  left: 0
}
.testimonials__text-wrapper::after {
  bottom: -1.8rem;
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}
.testimonials__text {
  max-width: 63.6rem;
  font-family: tele2_serif-bold,serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.36;
  color: #1f2229
}
@media (max-width:767px) {
  .testimonials__text {
    max-width: 44rem;
    font-size: 1.4rem;
    line-height: 1.14
  }
}
.testimonials__slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
@media (max-width:767px) {
  .testimonials__slider-controls {
    position: absolute;
    top: 19.5rem
  }
}
.testimonials__slider-navigation-next,
.testimonials__slider-navigation-prev,
.testimonials__slider-pagination {
  position: static;
  margin-top: 0
}
.testimonials__slider-navigation-next,
.testimonials__slider-navigation-prev {
  width: 1.1rem;
  height: 2.1rem;
  color: #62646a
}
@media (max-width:767px) {
  .testimonials__slider-navigation-next,
  .testimonials__slider-navigation-prev {
    display: none
  }
}
.testimonials__slider-navigation-next::after,
.testimonials__slider-navigation-next::before,
.testimonials__slider-navigation-prev::after,
.testimonials__slider-navigation-prev::before {
  font-size: 2.1rem
}
.testimonials__slider-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  margin-right: 2.5rem;
  background: #62646a;
  opacity: 1
}
@media (max-width:767px) {
  .swiper-pagination-bullet {
    width: .5rem;
    height: .5rem;
    margin-right: 1.2rem
  }
}
.swiper-pagination-bullet:last-child {
  margin-right: 0
}
.swiper-pagination-bullet-active {
  background: #ffae0f
}
.request {
  padding-top: 5rem
}
@media (max-width:767px) {
  .request {
    padding-top: 4rem
  }
}
.request__title {
  max-width: 65rem;
  margin-bottom: 6.4rem;
  line-height: 1.3;
  color: #fff
}
@media (max-width:767px) {
  .request__title {
    max-width: 26.2rem;
    margin-bottom: 3.7rem;
    line-height: 1
  }
}
.request__form-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2.5rem
}
@media (max-width:767px) {
  .request__form-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 1.2rem
  }
}
.request__form-block {
  width: 48.4%
}
@media (max-width:767px) {
  .request__form-block {
    width: 100%
  }
}
.request__field-container {
  margin-bottom: 3rem
}
@media (max-width:767px) {
  .request__field-container {
    margin-bottom: 2.5rem
  }
}
.request__field-container .dropdown-content {
  border: none;
  background-color: #1e1e1e
}
.request__field-container .dropdown-content__item {
  font-size: 2rem;
  color: #fff
}
@media (max-width:767px) {
  .request__field-container .dropdown-content__item {
    font-size: 1.4rem
  }
}
.request__field-container .dropdown-content__item b {
  font-family: tele2_textsans_bold,sans-serif;
  font-weight: 400
}
.request__dropdown-icon {
  position: absolute;
  right: 1rem;
  top: calc(50% - .75rem);
  width: 2.45rem;
  height: 1.54rem;
  -webkit-transition: ease-in-out .2s;
  -o-transition: ease-in-out .2s;
  transition: ease-in-out .2s
}
@media (max-width:767px) {
  .request__dropdown-icon {
    top: calc(50% - .35rem);
    width: 1.4rem;
    height: .7rem
  }
}
.request__field-container.dropdown-active .request__dropdown-icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}
.request .request__field-container .request__field-label {
  background: 0 0;
  color: #606060
}
.request .request__field-container .request__field-label--float {
  font-size: 2rem;
  line-height: 4.8rem
}
@media (max-width:767px) {
  .request .request__field-container .request__field-label--float {
    font-size: 1.4rem;
    line-height: 3.36rem
  }
}
.request .request__field-container .request__field-label--float.float {
  font-size: 1.3rem
}
@media (max-width:767px) {
  .request .request__field-container .request__field-label--float.float {
    font-size: 1rem
  }
}
.request .request__field-container .request__text-field {
  font-size: 2rem;
  color: #fff;
  padding-top: 0!important
}
.request .request__field-container .request__text-field.is-invalid {
  border-bottom: .2rem solid #d72f4b
}
@media (max-width:767px) {
  .request .request__field-container .request__text-field {
    height: 3.2rem;
    font-size: 1.4rem
  }
}
.request .request__field-container .request__text-field.request__textarea-field {
  font-size: 2rem;
  color: #fff
}
@media (max-width:767px) {
  .request .request__field-container .request__text-field.request__textarea-field {
    font-size: 1.4rem
  }
}
.request .request__field-container .request__text-field.request__textarea-field--autoresize {
  width: 100%;
  min-height: 5rem;
  height: 5rem;
  overflow: hidden;
  padding-top: 1rem!important;
  resize: none
}
@media (max-width:767px) {
  .request .request__field-container .request__text-field.request__textarea-field--autoresize {
    min-height: 3.2rem;
    height: 3.2rem;
    padding-top: .5rem!important
  }
}
.request__submit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
@media (max-width:767px) {
  .request__submit-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
  }
}
.request__btn {
  margin-right: 2rem
}
@media (max-width:767px) {
  .request__btn {
    margin-right: 0;
    margin-bottom: 1.1rem
  }
}
.request__submit-note {
  max-width: 32.5rem;
  font-family: tele2_textsans_regular,sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: normal;
  color: #fff
}
@media (max-width:767px) {
  .request__submit-note {
    font-size: 1rem
  }
}
.request__modal.popup-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.request__modal.popup-modal .request__modal-box.modal-box {
  width: 63rem;
  margin: 0;
  padding: 0
}
@media (max-width:767px) {
  .request__modal.popup-modal .request__modal-box.modal-box {
    width: 93.75%
  }
}
.request__modal.popup-modal .request__modal-header.modal-box__header {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 3rem
}
@media (max-width:767px) {
  .request__modal.popup-modal .request__modal-header.modal-box__header {
    padding-left: 2.5rem;
    padding-right: 2.5rem
  }
}
.request__modal.popup-modal .request__modal-body.modal-box__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 8.3rem;
  padding-right: 1.9rem;
  padding-left: 1.9rem
}
@media (max-width:767px) {
  .request__modal.popup-modal .request__modal-body.modal-box__body {
    padding-top: 5.7rem
  }
}
.request__modal.popup-modal .request__modal-text {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto
}
.request__modal-close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 4.4rem;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #ffad00;
  cursor: pointer
}
.request__modal-close-btn:hover {
  background-color: #6d7278
}
@media (max-width:767px) {
  .request__modal-close-btn {
    min-width: 3.5rem;
    width: 3.5rem;
    height: 3.5rem
  }
}
.request__modal-close-btn path {
  stroke: #fff
}
.request__modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}
.request__modal-close-icon {
  width: 2.6rem;
  height: 2.6rem
}
@media (max-width:767px) {
  .request__modal-close-icon {
    width: 2rem;
    height: 2rem
  }
}
.request__modal-text {
  font-family: tele2_serif-bold,serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.36;
  color: #000;
  text-align: center
}
@media (max-width:767px) {
  .request__modal-text {
    font-size: 1.7rem;
    line-height: 1.4
  }
}
.request__field-container .error-list {
  position: absolute;
  bottom: -3rem;
  left: 0
}
.autocomplete-list {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 40rem
}
.autocomplete-item {
  padding: 1rem;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  font-size: 2rem
}
@media (max-width:767px) {
  .autocomplete-item {
    font-size: 1.4rem
  }
}
.autocomplete-item:hover {
  background-color: #e9e9e9
}
.faq {
  margin-bottom: 10.5rem;
  padding-top: 11rem
}
@media (max-width:767px) {
  .faq {
    margin-bottom: 5rem;
    padding-top: 6rem
  }
}
.faq__title {
  max-width: 65rem;
  margin-bottom: 5rem;
  line-height: 1.3;
  color: #fff
}
@media (max-width:767px) {
  .faq__title {
    max-width: 26.2rem;
    margin-bottom: 3rem;
    line-height: 1
  }
}
.faq__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 11.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #fff
}
@media (max-width:767px) {
  .faq__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 0;
    padding-left: 0
  }
}
.faq__wrapper::before {
  position: absolute;
  top: -21.3rem;
  right: 6.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  width: 17rem;
  height: 21.3rem;
  background-image: url(../img/page/faq-art.svg);
  background-repeat: no-repeat;
  background-size: cover
}
@media (max-width:767px) {
  .faq__wrapper::before {
    display: none
  }
}
.faq__list {
  width: 47%
}
@media (max-width:767px) {
  .faq__list {
    width: 100%
  }
  .faq__list:last-child .faq__item:last-child {
    border: 0
  }
}
.faq__item {
  margin-bottom: 2.5rem;
  position: relative
}
.faq__item:last-child {
  margin-bottom: 0
}
@media (max-width:767px) {
  .faq__item {
    padding-bottom: 1.7rem;
    padding-top: 1.5rem;
    margin-bottom: 0;
    border-bottom: solid 1px #dfdfdf
  }
  .faq__item:last-child {
    margin-bottom: 0
  }
}
.faq__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: ease-in-out .4s;
  -o-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
  cursor: pointer
}
@media (max-width:767px) {
  .faq__item-header {
    padding-right: 1.8rem;
    padding-left: 1.8rem
  }
}
.faq__item-title {
  max-width: 43rem;
  font-family: tele2_serif-bold,serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4;
  color: #000
}
@media (max-width:767px) {
  .faq__item-title {
    max-width: 83%;
    font-size: 1.5rem;
    line-height: 1.33
  }
}
@media (min-width:1300px) {
  .faq__item-title {
    max-width: 92%
  }
}
.faq__item-body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .2s ease-out;
  -o-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out
}
@media (max-width:767px) {
  .faq__item-body {
    padding-right: 1.8rem;
    padding-left: 1.8rem
  }
}
.faq__item-text {
  max-width: 45rem;
  padding-top: 2rem;
  font-family: tele2_textsans_regular,sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.38
}
@media (max-width:767px) {
  .faq__item-text {
    max-width: 100%;
    font-size: 1.3rem
  }
}
.faq__item-link {
  color: #ffaf0f;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ffaf0f
}
.faq__item-link:hover {
  color: #6d7278;
  border-bottom-color: #6d7278
}
.faq__close-btn {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 4.4rem;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  -webkit-transition: ease-in-out .2s;
  -o-transition: ease-in-out .2s;
  transition: ease-in-out .2s
}
@media (max-width:767px) {
  .faq__close-btn {
    right: 1.5rem;
    min-width: 3.5rem;
    width: 3.5rem;
    height: 3.5rem
  }
}
.faq__item.active .faq__close-btn {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #ffad00
}
.faq__item.active .faq__close-btn path {
  stroke: #fff
}
.faq__close-icon {
  width: 2.6rem;
  height: 2.6rem
}
@media (max-width:767px) {
  .faq__close-icon {
    width: 2rem;
    height: 2rem
  }
}
.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: tele2_textsans_regular,sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  color: #fff
}
@media (max-width:441px) {
  .copyright {
    font-size: 1.2rem
  }
}