@-webkit-keyframes slideInLeft {
	from {
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	  opacity: 0;
	  visibility: visible;
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	  opacity: 1;
	}
  }
  
  @keyframes slideInLeft {
	from {
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	  opacity: 0;
	  visibility: visible;
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	  opacity: 1;
	}
  }
  
  .slideInLeft {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
  }
  
  @-webkit-keyframes slideInRight {
	from {
	  -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(100%, 0, 0);
	  opacity: 0;
	  visibility: visible;
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	  opacity: 1;
	}
  }
  
  @keyframes slideInRight {
	from {
	  -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(100%, 0, 0);
	  opacity: 0;
	  visibility: visible;
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	  opacity: 1;
	}
  }
  
  .slideInRight {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
  }

  .animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }
  
  @media (print), (prefers-reduced-motion: reduce) {
	.animated {
	  -webkit-animation-duration: 1ms !important;
	  animation-duration: 1ms !important;
	  -webkit-transition-duration: 1ms !important;
	  transition-duration: 1ms !important;
	  -webkit-animation-iteration-count: 1 !important;
	  animation-iteration-count: 1 !important;
	}
  }