@font-face{
    font-family:'stencil';
    src: 
      url('../fonts/stencil/StandardCTStencil-Bold.woff') format('woff'),
      url('../fonts/stencil/StandardCTStencil-Bold.woff2') format('woff2'),
      url('../fonts/stencil/standardctstencil_bold.svg') format('svg');
    font-weight: normal;font-style: normal;
  }
  
  