.btn {
    display: inline-block;
    min-width: 12.5rem;
    vertical-align: middle;
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    outline: none;
    border: none;
    border-radius: 3rem;
    font-family: $font-sans-bold, sans-serif;
    font-size: 1.6rem;
    line-height: 1.38;
    background-color: transparent;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: .3s;
    letter-spacing: 0;
    margin: 0;

    @media (max-width: $tablet) {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        // padding-left: 3.5rem;
        // padding-right: 3.5rem;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }

    &--dark {
        background-color: $color-dark;
        color: $color-white;

        &:hover {
            background: #626469;
            color: $color-white;
        }
    }

    &--white {
        background-color: $color-white;
        color: $color-dark;

        &:hover {
            background: #626469;
            color: $color-white;
        }
    }

    &--border-black {
        box-shadow: inset 0 0 0 2px $color-dark;
        color: $color-dark;

        &:hover {
            box-shadow: inset 0 0 0 2px #626469;
            color: #626469;
        }
    }

    &--border-white {
        box-shadow: inset 0 0 0 2px $color-white;
        color: $color-white;

        &:hover {
            box-shadow: inset 0 0 0 2px #626469;
            color: #626469;
        }
    }

    &--black-bg {
        background-color: $color-black;
        color: $color-white;

        &:hover {
            background: #626469;
            color: $color-white;
        }
    }

    &--icon {
        position: relative;
        padding-left: 6.6rem;

        @media (max-width: $tablet) {
            padding-left: 3.5rem;
        }

        &::before {
            position: absolute;
            left: 2.5rem;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            content: '';
            width: 3.2rem;
            height: 3.2rem;
            background-repeat: no-repeat;
            background-size: cover;

            @media (max-width: $tablet) {
                display: none;
            }
        }
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        transform: scale(.96);  
    }
}