.js-float-field {
    position: relative;

    .js-float-label {
        position: absolute;
        top: 0;
        left: 0;
    
        &.float {
            top: $float-label-offset-desktop;

            @media (max-width: $tablet) {
                top: $float-label-offset-mobile;
            }
        }
    }
}