.tabs-nav {
    cursor: pointer;
    
    &:hover {
        color: $color-tabs-nav-hover;
    }

    &.tabs-nav--active {
        color: $color-tabs-nav-active;

        &:hover {
            color: $color-tabs-nav-active;  
        }
    }
}

.tabs-body {
    opacity: 0;

    &--visible {
        opacity: 1;
    }
}